<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oil.detection.dao.bis.OrderDao">
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="oil.detection.entity.bis.Order">
        <result column="id" property="id"/>
        <result column="user_id" property="user_id"/>
        <result column="product_id" property="product_id"/>
        <result column="supplier_id" property="supplier_id"/>
        <result column="order_type" property="order_type"/>
        <result column="price" property="price"/>
        <result column="number" property="number"/>
        <result column="total_price" property="total_price"/>
        <result column="pay_type" property="pay_type"/>
        <result column="delivery_type" property="delivery_type"/>
        <result column="car_number" property="car_number"/>
        <result column="receiver_name" property="receiver_name"/>
        <result column="receiver_phone" property="receiver_phone"/>
        <result column="receiver_addr" property="receiver_addr"/>
        <result column="other_require" property="other_require"/>
        <result column="create_time" property="create_time"/>
        <result column="update_time" property="update_time"/>
        <result column="arrival_time" property="arrival_time"/>
        <result column="remark" property="remark"/>
        <result column="state" property="state"/>
    </resultMap>

    <!-- order table all fields -->
    <sql id="Base_Column_List">
	 id,user_id,product_id,supplier_id,order_type,price,number,total_price,pay_type,delivery_type,car_number,receiver_name,receiver_phone,receiver_addr,other_require,create_time,update_time,arrival_time,remark,state
</sql>


    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="user_id != null and user_id != ''">
                and user_id = #{user_id}
            </if>
            <if test="product_id != null and product_id != ''">
                and product_id = #{product_id}
            </if>
            <if test="supplier_id != null and supplier_id != ''">
                and supplier_id = #{supplier_id}
            </if>
            <if test="order_type != null and order_type != ''">
                and order_type = #{order_type}
            </if>
            <if test="price != null and price != ''">
                and price = #{price}
            </if>
            <if test="number != null and number != ''">
                and number = #{number}
            </if>
            <if test="total_price != null and total_price != ''">
                and total_price = #{total_price}
            </if>
            <if test="pay_type != null and pay_type != ''">
                and pay_type = #{pay_type}
            </if>
            <if test="delivery_type != null and delivery_type != ''">
                and delivery_type = #{delivery_type}
            </if>
            <if test="car_number != null and car_number != ''">
                and car_number = #{car_number}
            </if>
            <if test="receiver_name != null and receiver_name != ''">
                and receiver_name = #{receiver_name}
            </if>
            <if test="receiver_phone != null and receiver_phone != ''">
                and receiver_phone = #{receiver_phone}
            </if>
            <if test="receiver_addr != null and receiver_addr != ''">
                and receiver_addr = #{receiver_addr}
            </if>
            <if test="other_require != null and other_require != ''">
                and other_require = #{other_require}
            </if>
            <if test="create_time != null and create_time != ''">
                and create_time = #{create_time}
            </if>
            <if test="update_time != null and update_time != ''">
                and update_time = #{update_time}
            </if>
            <if test="arrival_time != null and arrival_time != ''">
                and arrival_time = #{arrival_time}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="state != null and state != ''">
                and state = #{state}
            </if>
            <if test="purchase_id != null and purchase_id != ''">
                and purchase_id = #{purchase_id}
            </if>
        </trim>
    </sql>


    <!-- 插入记录 -->
    <insert id="add" parameterType="Object">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into
        `order`(id,user_id,product_id,supplier_id,order_type,price,number,total_price,pay_type,delivery_type,car_number,receiver_name,receiver_phone,receiver_addr,other_require,create_time,update_time,arrival_time,remark,state,purchase_id)
        values(#{id},#{user_id},#{product_id},#{supplier_id},#{order_type},#{price},#{number},#{total_price},#{pay_type},#{delivery_type},#{car_number},#{receiver_name},#{receiver_phone},#{receiver_addr},#{other_require},#{create_time},#{update_time},#{arrival_time},#{remark},#{state},#{purchase_id})
    </insert>

    <!-- 根据id，修改记录-->
    <update id="update" parameterType="Object">
  update `order` set user_id=#{user_id},product_id=#{product_id},supplier_id=#{supplier_id},order_type=#{order_type},price=#{price},number=#{number},total_price=#{total_price},pay_type=#{pay_type},delivery_type=#{delivery_type},car_number=#{car_number},receiver_name=#{receiver_name},receiver_phone=#{receiver_phone},receiver_addr=#{receiver_addr},other_require=#{other_require},create_time=#{create_time},update_time=#{update_time},arrival_time=#{arrival_time},remark=#{remark},state=#{state} where id=#{id}
 </update>

    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="updateBySelective" parameterType="Object">
        update `order` set
        <trim suffixOverrides=",">
            <if test="user_id != null  ">
                user_id=#{user_id},
            </if>
            <if test="product_id != null  ">
                product_id=#{product_id},
            </if>
            <if test="supplier_id != null  ">
                supplier_id=#{supplier_id},
            </if>
            <if test="order_type != null  ">
                order_type=#{order_type},
            </if>
            <if test="price != null  ">
                price=#{price},
            </if>
            <if test="number != null  ">
                number=#{number},
            </if>
            <if test="total_price != null  ">
                total_price=#{total_price},
            </if>
            <if test="pay_type != null  ">
                pay_type=#{pay_type},
            </if>
            <if test="delivery_type != null  ">
                delivery_type=#{delivery_type},
            </if>
            <if test="car_number != null  ">
                car_number=#{car_number},
            </if>
            <if test="receiver_name != null  ">
                receiver_name=#{receiver_name},
            </if>
            <if test="receiver_phone != null  ">
                receiver_phone=#{receiver_phone},
            </if>
            <if test="receiver_addr != null  ">
                receiver_addr=#{receiver_addr},
            </if>
            <if test="other_require != null  ">
                other_require=#{other_require},
            </if>
            <if test="create_time != null  ">
                create_time=#{create_time},
            </if>
            <if test="update_time != null  ">
                update_time=#{update_time},
            </if>
            <if test="arrival_time != null  ">
                arrival_time=#{arrival_time},
            </if>
            <if test="remark != null  ">
                remark=#{remark},
            </if>
            <if test="state != null  ">
                state=#{state},
            </if>
        </trim>
        where id=#{id}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="Object">
	delete 	 from `order` where id = #{id}
</delete>

    <!-- 根据id查询 订单管理 -->
    <select id="queryById" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from `order` where id = #{id}
    </select>

    <!-- 订单管理 列表总数-->
    <select id="queryByCount" resultType="java.lang.Integer" parameterType="Object">
        select count(1) from `order`
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询订单管理列表 -->
    <select id="queryByList" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from `order`
        <include refid="Example_Where_Clause"/>
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
        <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
            ${pager.mysqlQueryCondition}
        </if>
    </select>

</mapper>   
