<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oil.detection.dao.bis.PicDao">
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="oil.detection.entity.bis.Pic">
        <result column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="pic_url" property="pic_url"/>
        <result column="owner_id" property="owner_id"/>
        <result column="order" property="order"/>
        <result column="create_time" property="create_time"/>
        <result column="update_time" property="update_time"/>
        <result column="state" property="state"/>
        <result column="remark" property="remark"/>
        <result column="link_url" property="link_url"/>
        <result column="content" property="content" jdbcType="BLOB"
                typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
    </resultMap>

    <!-- pic table all fields -->
    <sql id="Base_Column_List">
	 id,type,pic_url,owner_id,`order`,create_time,update_time,state,remark,link_url,content
</sql>


    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
            <if test="pic_url != null and pic_url != ''">
                and pic_url = #{pic_url}
            </if>
            <if test="owner_id != null and owner_id != ''">
                and owner_id = #{owner_id}
            </if>
            <if test="order != null and order != ''">
                and `order` = #{order}
            </if>
            <if test="create_time != null and create_time != ''">
                and create_time = #{create_time}
            </if>
            <if test="update_time != null and update_time != ''">
                and update_time = #{update_time}
            </if>
            <if test="state != null and state != ''">
                and state = #{state}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="link_url != null and link_url != ''">
                and link_url = #{link_url}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
        </trim>
    </sql>


    <!-- 插入记录 -->
    <insert id="add" parameterType="Object">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into pic(id,type,pic_url,owner_id,`order`,create_time,update_time,state,remark,link_url,content)
        values(#{id},#{type},#{pic_url},#{owner_id},#{order},#{create_time},#{update_time},#{state},#{remark},#{link_url},#{content})
    </insert>

    <!-- 根据id，修改记录-->
    <update id="update" parameterType="Object">
        update pic set type=#{type},pic_url=#{pic_url},owner_id=#{owner_id},`order`=#{order},
        <if test="state!= null">state =
            #{state,jdbcType=TINYINT},</if>remark=#{remark},link_url=#{link_url},content=#{content} where id=#{id}
    </update>

    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="updateBySelective" parameterType="Object">
        update pic set
        <trim suffixOverrides=",">
            <if test="type != null  ">
                type=#{type},
            </if>
            <if test="pic_url != null  ">
                pic_url=#{pic_url},
            </if>
            <if test="owner_id != null  ">
                owner_id=#{owner_id},
            </if>
            <if test="order != null  ">
                `order`=#{order},
            </if>
            <if test="create_time != null  ">
                create_time=#{create_time},
            </if>
            <if test="update_time != null  ">
                update_time=#{update_time},
            </if>
            <if test="state != null  ">
                state=#{state},
            </if>
            <if test="remark != null  ">
                remark=#{remark},
            </if>
            <if test="link_url != null  ">
                link_url=#{link_url},
            </if>
            <if test="content != null  ">
                content=#{content},
            </if>
        </trim>
        where id=#{id}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="Object">
	delete 	 from pic where id = #{id}
</delete>

    <!-- 根据id查询 图片信息 -->
    <select id="queryById" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from pic where id = #{id}
    </select>

    <!-- 图片信息 列表总数-->
    <select id="queryByCount" resultType="java.lang.Integer" parameterType="Object">
        select count(1) from pic
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询图片信息列表 -->
    <select id="queryByList" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from pic
        <include refid="Example_Where_Clause"/>
        <if test="pager.orderCondition != null and pager.orderCondition != ''">
            ${pager.orderCondition}
        </if>
        <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
            ${pager.mysqlQueryCondition}
        </if>
    </select>

</mapper>   
